
@media only screen and (min-width: 600px) {
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
}
@media only screen and (max-width: 600px) {

    .card-title{
        size: 2rem;

    }
    .img-square-wrapper img{
        display: block;
        width: 80%;
        height: 12rem;
        padding: 5px 0;
        text-align: center;
        margin: auto;
    }
}


.contain{
    background-color: #f4f4f2;
    color: black;
}